/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties*/
    
/* Base styles */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Base elements to be styled */
html{
    /* For easy calculation with "rem" units */
    font-size: 10px;
}

body {

    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}


h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.25rem;
}


blockquote {
    font-style: italic;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
}

ul {
    max-width: 570px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 15px 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    }

/* ID and class elements to be styled */

#main {
    margin: 30px 8px;
    padding: 10px;
    border-radius: 6px;
    background-color: #eee;
}

#img-div{
    background: white;
    padding: 5px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
    #main {
        margin: 0;
    }

    #img-caption{
        font-size: 1.4rem;
    }
}

#signature{
    max-width: 20rem;
}